
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>GEEK GARAGE</title>
    <link rel="tylesheet" href="#">
    <link rel="stylesheet" href="#"/>
</head>

    <body>

        <!--header -->
        <header>

        </header>

        <!--navbar logos titre sous-titre et photo-->
        <nav>

        </nav>


        <!--inter1 tournevis-->

        <!--section 1 rectangle blanc titre texte et carte-->


        <!--inter2 marteau-->


        <!--section 2 rectangle blanc titre texte et photo-->

        <!--inter3 outils-->


        <!--section 3 rectangle blanc titre texte photo et bouton-->

        <!--section 4 rectangle blanc titre form carte bouton send et back-->


        <!--inter4 flèche up qui ramène en haut-->


        <main>

            <div>
                <!--balise générique de bloc-->
            </div>

        </main>

        <!--footer logos mentions légales cliquables-->

        <footer>


        </footer>

    </body>

</html>