<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>GEEK GARAGE</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="../src/style.css">
</head>

    <body>


    <header class="header">
            <!--navbar logos titre sous-titre et photo-->
            <nav class="menu">
                <ul>
                    <Li class="header-li"><a href="#" class="menu-item">CENTRES</a></Li>
                    <li class="header-li"><a href="#" class="menu-item">PROJET</a></li>
                    <li class="header-li"><a href="#" class="menu-item">CONTACT</a></li>
                </ul>
                <div class="l-container">
                    <p>En partenariat avec</p>
                    <a href="#" class="header-logo">
                        <img src="../assets/img/logo-acs-black.png">
                    </a>
                </div>

            </nav>

        <div class="header-baseline header-baseline-l header-baseline-l1">
            <h1>
                GEEK GARAGE
            </h1>
            <p class="header-baseline header-baseline-l header-baseline-l2">
                INSTALLATION - SUPPORT - DIAGNOSTIC - DEPANNAGE
            </p>
        </div>

        </header>

        <main>

            <!--separator 1 screwdriver-->

            <section id="separator_one">
                <div class="separator"><hr class="hr-left"></div>
                <i class="fas fa-hammer"></i>
                <div class="separation"><hr clas="hr-right"></div>
            </section>


            <!--section 1-->
            <section id="section_one">

                <h2>QUI SOMMES-NOUS ?</h2>

                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>

                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>

                <div class="map">
                <iframe width="100%" height="300px" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/fr/map/carte-sans-nom_555122?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
                    <p>
                        <a href="//umap.openstreetmap.fr/fr/map/carte-sans-nom_555122">Voir en plein écran</a>
                    </p>
                </div>
            </section>

            <!--separator 2 hammer-->
            <section id="separator_two">
                <div class="separator"><hr></div>
                <img class="separator-icon" src="../assets/img/hammer-solid.png">
                <div class="separation"><hr></div>
            </section>


            <!--section 2-->
            <section id="section_two">
                <h2>LE PROJET</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                </p>

                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>

                <div class="illustration-two"></div>
            </section>

            <!--separator 3 tools-->
            <section id="separator_three">
                <div class="separator"><hr></div>
                <img class="separator-icon" src="../assets/img/tools-solid.png">
                <div class="separation"><hr></div>
            </section>


            <!--section 3 bouton-->
            <section id="section_three">

                <h2>CONTACT</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <button class="btn">NOUS CONTACTER !</button>

                <div class="illustration-three"></div>
            </section>

            <!--section 4-->
            <section id="section_four">

                <form action="#" method="POST">
                    <label for="center-select">CENTRE</label>
                    <select name="center" id="center-select" required>
                        <option value="">Sélectionnez votre centre</option>

                        <!--todo afficher le centre en php + relier sélections-->
                        <option value="un">BEYNOST</option>
                        <option value="un">GRAY</option>
                        <option value="un">VIENNE</option>
                    </select>

                    <label for="name">NOM</label>
                    <input type="text" class="form-control" placeholder="DUPONT" id="name" name="lastname" required>

                    <label for="name">PRENOM</label>
                    <input type="text" class="form-control" placeholder="Pétronille" id="name" name="firstname">

                    <label for="email">EMAIL</label>
                    <input type="email" id="email"
                           pattern=".+@globex.com" size="30" required>

                    <label for="phone">Numéro de téléphone (recommandé)</label>
                    <input type="tel" id="phone" name="phone" placeholder="Format : 00.55.33.88.22"
                           pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}">

                    <textarea id="message" name="message" required></textarea>

                    <input type="checkbox" id="check" name="check" value="check">
                    <label for="check">Je ne suis pas un robot</label>

                    <button class="btn" type="button">ENVOYER</button>

                    <div class="map">
                        <iframe width="100%" height="300px" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/fr/map/carte-sans-nom_555122?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
                        <p>
                            <a href="//umap.openstreetmap.fr/fr/map/carte-sans-nom_555122">Voir en plein écran</a>
                        </p>
                    </div>
                </form>
            </section>

            <!--separator 4 arrow up-->
            <section id="separator_up">
                <div class="separator"><hr></div>
                    <img class="separator-icon" src="../assets/img/arrow-up-solid.png">
                <div class="separation"><hr></div>
            </section>

        </main>

        <!--footer logos mentions légales cliquables-->
        <footer>

        <!--todo logo dans le css ?-->

            <a href="#" class="footer-logo">
                <img src="../assets/img/logo-online.png">
            </a>

            <a href="#" class="notice">MENTIONS LEGALES</a>

            <a href="#" class="footer-logo">
                <img src="../assets/img/logo-acs-black.png">
            </a>

        </footer>

    </body>

</html>