
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>GEEK GARAGE</title>
    <link rel="stylesheet" href="../src/style.css">
</head>

    <body>

        <!--navbar logos titre sous-titre et photo-->
        <nav>
            <ul>
                <Li>
                    <a href="#">CENTRES</a>
                </Li>

                <li> | </li>

                <li>
                    <a href="#">PROJET</a>
                </li>

                <li> | </li>

                <li>
                    <a href="#">CONTACT</a>
                </li>

                <li>
                    En partenariat avec
                </li>

                <li class="logo-acs">
                    <img class="logo-acs" src="../assets/img/logo-acs-black.png">
                </li>
            </ul>



        </nav>


        <!--inter1 tournevis-->

        <!--section 1 rectangle blanc titre texte et carte-->


        <!--inter2 marteau-->


        <!--section 2 rectangle blanc titre texte et photo-->

        <!--inter3 outils-->


        <!--section 3 rectangle blanc titre texte photo et bouton-->

        <!--section 4 rectangle blanc titre form carte bouton send et back-->


        <!--inter4 flèche up qui ramène en haut-->


        <main>

            <div>
                <!--balise générique de bloc-->
            </div>

        </main>

        <!--footer logos mentions légales cliquables-->

        <footer>


        </footer>

    </body>

</html>