// define the style for all basics elements : (html, body, form, input, etc.)
// NO CLASS, NO ID

body {
  background-color: #dfe0df;
  font-family: "Space Mono", monospace;
  color: black;
  font-size: 24px;
  line-height: 35.5px;
  text-align: justify;
}

h1 {
  font-size: 72px;
  line-height: 106px;
  text-align: center;
  color: FCFF00;
}