/*test the size of the screen and display the good size of grid*/

@media screen and (min-width: 480px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

body {
    background-color: #dfe0df;
    font-family: "Space Mono";
}

.header {

}

.menu {

}

.menu-item {

}

.container {

}

.header-logo {

}

.header-baseline {

}

.header-baseline-l {

}

.header-baseline-l2 {

}