@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    background-color: #dfe0df;
}

/* logo-acs-black 2 */

logo-acs {
    position: absolute;
    width: 182px;
    height: 50px;
    left: 1350px;
    top: 34px;
}