// locations for the SECTIONS (also valid for header, footer, aside, etc.)
// ID have to be used here only

// https://karac.ch/blog/organisation-et-convention-nommage-css

// always add l- before the class name to understand that is a layout element in the html



.l-container {
  width: 100%;
  height: 554px;
  margin: 0 auto;
}