// locations for the SECTIONS (also valid for header, footer, aside, etc.)
// ID have to be used here only

// https://karac.ch/blog/organisation-et-convention-nommage-css

// always add l- before the class name to understand that is a layout element in the html

/*
.grid {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}
*/